<p>list works!</p>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<p>list works!</p>
<table class="table" id="zebra">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Genero</th>
        <th>Familia</th>
        <th>Origen</th>
        <th>Ingreso</th>
        <th>Imagen</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of apiData">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.family.name}}</td>
        <td>{{ item.continent.name}}</td>
        <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
        <td><img src="../assets{{ item.imgUrl}}"></td>
      </tr>
    </tbody>
  </table>
