
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" >
          <li *ngFor="let item of familiesData"><a class="dropdown-item" href="#"><img class="circle" src="../assets{{ item.imgUrl}}">{{ item.name }}</a></li>
          </ul>
      </div>
      <div class="tittle">
        <h1>Dashboard</h1>
      </div>
    </div>
  </nav>
