
  <nav class="navbar navbar-custom">
    <div id="navMain" class="container-fluid">
      <div class="burger"><div id="drop" class="dropdown container">
        <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
        <ul class="dropdown-menu" >
          <li *ngFor="let item of familiesData"><a class="dropdown-item" href="#"><img class="circle" src="../assets{{ item.imgUrl}}">   {{ item.name }}</a></li>
          </ul>
      </div>
      <div id="tittle" class="tittle container-fluid">
        <h1>Dashboard</h1>
      </div>
    </div>
    <div class="log container-fluid">
      <h2 class="username">User</h2>
      <div class="dropdown">
        <a class="btn btn-secondary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="logImg img-fluid" src="../assets/img/user.png">
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
     
      
    </div>
    </div>
  </nav>
