.btnDiv {
    display: flex;
    justify-content: space-evenly;
    padding: 4em;
}

.dash1 {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;

}

.dash2 {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

