<div class="btnDiv">
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
</div>

<div class="dashMain">
    <div class="dash1">
        <img src="../assets/families1.png">
        <img src="../assets/families2.png">
        <img src="../assets/families3.png">
    </div>
        
    <div class="dash2">
        <img src="../assets/families4.png">
        <img src="../assets/families5.png">
    </div>
</div>
