<h1>families</h1>


<div class="card-grid">
<div class="card" style="width: 18rem;" *ngFor="let animal of animalsData">
  <img [src]="'../assets/' + animal.img_url" class="card-img-top" [alt]="animal.name">
  <div class="card-body">
    <p class="card-text1">{{ animal.name }}</p>
    <p class="card-text2">{{ animal.type }}</p>
    <p class="card-text3">{{ animal.gender }}</p>
  </div>
</div>
</div>

<h2>Submenu Example</h2>



<div class="familiesImg">
<div *ngFor="let family of families">
  <h3>{{ family.name }}</h3>
  <img [src]="'../assets/' + family.imgUrl" alt="Family Image" class="families">
</div>
</div>


<h2>Tabla familias</h2>

<div class="table">
  <table class="zebra">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Gender</th>
        <th>Family</th>
        <th>Origin</th>
        <th>Date</th>
        <th>Pic</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animalsData">
        <td>{{ animal.id }}</td>
        <td>{{ animal.name }}</td>
        <td>{{ animal.type }}</td>
        <td>{{ animal.gender }}</td>
        <td>
          <img class="tiny" [src]="'../assets' + animal.family.imgUrl" [alt]="animal.family.name">
        </td>
        <td>
          <img class="tiny" [src]="'../assets' + animal.continent.imgUrl" [alt]="animal.continent.name">
        </td>
        <td>{{ animal.date }}</td>
        <td>
          <img class="tiny" [src]="'../assets' + animal.imgUrl" [alt]="animal.name">
        </td>
      </tr>
    </tbody>
  </table>
  
  </div>





















  <h2>Bucle for families images</h2>


<div  class="familiesImg">
  <div *ngFor="let family of familiesImages">
    <img class="families" [src]="'../assets/' + family">
  </div>
</div>





<div>
  <table *ngIf="familiesData.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let family of familiesData">
        <td>{{ family.name }}</td>
        <td>{{ family.imgUrl }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Tabla animales</h2>

<div>
 
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Gender</th>
        <th>Families ID</th>
        <th>Continents ID</th>
        <th>Date</th>
        <th>Image URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animalsData">
        <td>{{ animal.id }}</td>
        <td>{{ animal.name }}</td>
        <td>{{ animal.type }}</td>
        <td>{{ animal.gender }}</td>
        <td>{{ animal.families_id }}</td>
        <td>{{ animal.continents_id }}</td>
        <td>{{ animal.date }}</td>
        <td>{{ animal.img_url }}</td>
      </tr>
    </tbody>
  </table>



</div> ->